<!-- <h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "users/shared/links" %> -->


  <div class="container content-wrapper">
    <div class="signup-wrapper">
      <div class="signup-form-wrapper">
        <div class="signup-form-back">
          <div class="signup-form-col">
            <ul class="nav nav-tabs nav-justified">
<!--               <li role="presentation">
                <%= link_to("Sign Up", new_user_registration_path) %>
              </li> -->
<!--               <li role="presentation" class="active"><a href="#">Login</a></li> -->
            </ul>
            <br/>
            <div class="tab-content">
              <form class="form-horizontal">
              <%= link_to user_omniauth_authorize_path(:twitter), {class: 'btn btn-block btn-social btn-lg btn-twitter'} do %>
                <i class="fa fa-twitter"></i> Sign in with Twitter
              <% end %>
              <%= link_to user_omniauth_authorize_path(:facebook), {class: 'btn btn-block btn-social btn-lg btn-facebook'} do %>
                <i class="fa fa-facebook"></i> Sign in with Facebook
              <% end %>
                <fieldset>
                  <div class="form-group">
                    <label for="inputEmail" class="control-label">Email</label>
                      <input type="text" class="form-control" id="inputEmail">
                  </div>
                  <div class="form-group">
                    <label for="inputPassword" class="control-label">Password</label>
                      <input type="password" class="form-control" id="inputPassword">
                    </div>
                  <div class="form-group">
                      <button type="submit" class="btn btn-sign-up btn-lg btn-block">Login</button>
                  </div>
                </fieldset>
              </form>
            </div><!-- End Tab Content -->
          </div><!-- End Signup-form-col -->
        </div>
      </div><!-- End Signup-form-wrapper -->
    </div> <!-- Signup-wrapper -->
  </div>