<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to image_tag("logo.svg", {class: "navbar-brand" }), '/' %>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to("Explore", "#") %></li>
      <li class="active"><%= link_to("Playlists", "#") %></li>
    </ul>
    <div class="navbar-right">
      <button type="button" class="btn btn-default navbar-btn">+ Create Playlist</button>
      <!-- if user signed in, display user avatar and settings -->
      <div class="btn-group" role="group">
      <%= link_to("Sign Up", new_user_registration_path, {class: "btn btn-sign-up navbar-btn"}) %>
      <%= link_to("Log In", new_user_session_path, {class: "btn btn-default navbar-btn"}) %>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
      <!-- end if user signed in-->
      </div>
    </div>
  </div>
</nav>
